@tailwind base;
@tailwind components;
@tailwind utilities;




* {
  scroll-margin-top: 6.25rem;
}

.SHADOWBOX {
  border-radius: 0px 0px 20px 20px;
  border: #020916;
  background: linear-gradient(
    155deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.04) 100.02%
  );
}

.MACheader {
  border-radius: 20px 20px 0px 0px;
  border: 1px solid #020916;
  background: #1f2937;
  box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.15) inset;
}

.bck {
  background: rgba(156, 163, 175, 0.1);
}

.SHADOWBOX2 {
  border-radius: 20px 20px 20px 20px;
  border: #020916;
  background: linear-gradient(
    155deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.04) 100.02%
  );
}

.iconBackground {
  border-radius: 100%;
  border: 1px solid #020916;
  background: #1f2937;
  box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.15) inset;
  backdrop-filter: blur(5px);
}
